<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="X1" value="286"/>
    <add key="X2" value="286"/>
    <add key="width" value="1920"/>
    <add key="height" value=""/>
    <add key="operator" value="-"/>
  </appSettings>
</configuration>